<h2>Ustawienia konta</h2>
<hr>

<h4>Zmiana hasła</h4>

<div class="alert alert-success text-center " ng-show="passwordChangeStatuss==='success'">
	Hasło zostało zmienione.
</div>

<div class="alert alert-danger text-center" ng-show="passwordChangeStatuss==='error'">
	Nie udało się zmienić hasła.
</div>

<form class="form-horizontal" id="changePasswordForm" name="changePasswordForm"  ng-submit="changePassword()">
	<div class="form-group">
		<label for="oldPassword" class="col-sm-4 control-label">Aktualne hasło:
		</label>
		<div class="col-sm-4">
			<input type="password" id="oldPassword" name="oldPassword" class="form-control"
				   placeholder="Stare hasło" ng-model="oldPassword" required="required"/>
			<ng-messages class="messages" for="changePasswordForm.oldPassword.$error">
				<div ng-messages-include="validation/messages.html"></div>
			</ng-messages>
		</div>
	</div>
	<div class="form-group">
		<label for="newPassword" class="col-sm-4 control-label">Nowe hasło: </label>
		<div class="col-sm-4">
			<input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Nowe hasło"
				   ng-model="newPassword" required/>
			<ng-messages class="messages" for="changePasswordForm.newPassword.$error">
				<div ng-messages-include="validation/messages.html"></div>
			</ng-messages>
		</div>
	</div>
	<div class="form-group">
		<label for="repeatedNewPassword" class="col-sm-4 control-label">Powtórz nowe hasło: </label>
		<div class="col-sm-4">
			<input type="password" id="repeatedNewPassword" name="repeatedNewPassword" class="form-control" placeholder="Powtórz nowe hasło"
				   ng-model="repeatedNewPassword" required pw-check="newPassword" />
			<ng-messages class="messages" for="changePasswordForm.repeatedNewPassword.$error">
				<div ng-messages-include="validation/messages.html"></div>
			</ng-messages>
		</div>
	</div>

	<br>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-2">
			<button type="submit" class="btn btn-success" ng-disabled="changePasswordForm.$invalid">Zapisz zmiany</button>
		</div>
	</div>
</form>
