<div class="alert alert-success text-center" ng-show="registered">
    Użtykownik został zarejestrowany.
</div>

<div class="alert alert-danger text-center" ng-show="error">
    Podczas rejestracji wystąpił błąd. Spróbuj ponownie.
</div>

<form class="form-horizontal" id="registrationForm" name="registrationForm" ng-submit="register()">
    <h2 class="text-center">Rejestracja</h2>
    <br>
    <div class="form-group">
        <label for="login" class="col-sm-5 control-label">Adres email:
        </label>
        <div class="col-sm-7">
            <input type="text" name="login" class="form-control" id="login"
                   placeholder="Adres email" required="required"
                   ng-model="account.email" ng-disabled="registered"/>
            <ng-messages class="messages" for="registrationForm.login.$error">
                <div ng-messages-include="validation/messages.html"></div>
            </ng-messages>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-5 control-label">Hasło: </label>
        <div class="col-sm-7">
            <input type="password" class="form-control" id="password"
                   name="password" placeholder="Hasło" required="required"
                   ng-model="account.password" ng-disabled="registered"/>
            <ng-messages class="messages" for="registrationForm.password.$error">
                <div ng-messages-include="validation/messages.html"></div>
            </ng-messages>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword" class="col-sm-5 control-label">Powtórz
            hasło: </label>
        <div class="col-sm-7">
            <input type="password" class="form-control" id="confirmPassword"
                   name="confirmPassword" placeholder="Powtórz hasło"
                   required="required" ng-disabled="registered" ng-model="account.confirmPassword"
                   pw-check="password">
            <ng-messages class="messages" for="registrationForm.confirmPassword.$error">
                <div ng-messages-include="validation/messages.html"></div>
            </ng-messages>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-9 col-sm-2">
            <button type="submit" ng-disabled="registered || registrationForm.$invalid"
                    class="btn btn-success">Zarejestruj się
            </button>
        </div>
    </div>
</form>