
<div class="ng-scope" id="nav-wrapper">
	<div>
		<ul id="nav">
			<li class="active"><a href="#/dashboard"> <i
					class="glyphicon glyphicon-book"></i><span>KPiR</span>
			</a></li>
			<li class="active"><a href="#/dashboard"> <i
					class="glyphicon glyphicon-shopping-cart"></i><span>Zakupy
						VAT</span>
			</a></li>
			<li class="active"><a href="#/dashboard"> <i
					class="glyphicon glyphicon-list-alt"></i><span>Sprzedaż VAT</span>
			</a></li>
			<li class="active"><a ui-sref="contractors"> <i
					class="glyphicon glyphicon-user"></i><span>Kontrahenci</span>
			</a></li>
			<li class="active"><a ui-sref="company"> <i
					class="glyphicon glyphicon-home"></i><span>Dane firmy</span>
			</a></li>

		</ul>
		<div></div>
	</div>
</div>


<!--
<nav>
	<ul class="nav navbar-nav side-nav">
		<li><a href=""> <i class="glyphicon glyphicon-book"></i><br>
				<span>KPiR</span>
		</a></li>
		<li><a href=""> <i class="glyphicon glyphicon-shopping-cart"></i><br>
				<span>Zakupy VAT</span>
		</a></li>
		<li><a href=""> <i class="glyphicon glyphicon-list-alt"></i><br>
				<span>Sprzedaż VAT</span>
		</a></li>
		<li><a href="#/contractors"> <i
				class="glyphicon glyphicon-user"></i><br> <span>Kontrahenci</span>
		</a></li>
		<li><a href=""> <i class="glyphicon glyphicon-home"></i><br>
				<span>Dane firmy</span>
		</a></li>

	</ul>
</nav>
-->