<h2>Dane firmy</h2>
<hr>

<form class="form-horizontal" ng-submit="updateCompany()">
	<div class="form-group">
		<label for="companyName" class="col-sm-3 control-label">Nazwa firmy:
		</label>
		<div class="col-sm-4">
			<input type="text" id="companyName" name="companyName" class="form-control"
				placeholder="Nazwa firmy" ng-model="company.companyName" />
		</div>
	</div>
	<div class="form-group">
		<label for="ownerFirstName" class="col-sm-3 control-label">Imię: </label>
		<div class="col-sm-3">
			<input type="text" id="ownerFirstName" name="ownerFirstName" class="form-control" placeholder="Imię"
				ng-model="company.ownerFirstName" />
		</div>
	</div>
	<div class="form-group">
		<label for="ownerLastName" class="col-sm-3 control-label">Nazwisko: </label>
		<div class="col-sm-3">
			<input type="text" id="ownerLastName" name="ownerLastName" class="form-control" placeholder="Nazwisko"
				ng-model="company.ownerLastName" />
		</div>
	</div>
	<div class="form-group">
		<label for="nip" class="col-sm-3 control-label">Numer NIP: </label>
		<div class="col-sm-3">
			<input type="text" id="nip" name="nip" class="form-control" placeholder="NIP"
				ng-model="company.nip" />
		</div>
	</div>
	<div class="form-group">
		<label for="regon" class="col-sm-3 control-label">REGON: </label>
		<div class="col-sm-3">
			<input type="text" id="regon" name="regon" class="form-control"
				placeholder="REGON" ng-model="company.regon" />
		</div>
	</div>
	<div class="form-group">
		<label for="phone" class="col-sm-3 control-label">Numer telefonu: </label>
		<div class="col-sm-3">
			<input type="text" id="phone" name="phone" class="form-control"
				placeholder="Numer telefonu" ng-model="company.phone" />
		</div>
	</div>
	<div class="form-group">
		<label for="street" class="col-sm-3 control-label">Ulica: </label>
		<div class="col-sm-4">
			<input type="text" id="street" name="street" class="form-control"
				placeholder="Ulica" ng-model="company.street" />
		</div>
	</div>
	<div class="form-group">
		<label for="city" class="col-sm-3 control-label">Miejscowość: </label>
		<div class="col-sm-4">
			<input type="text" id="city" name="city" class="form-control"
				placeholder="Miejscowość" ng-model="company.city" />
		</div>
	</div>
	
	<div class="form-group">
		<label for="postalCode" class="col-sm-3 control-label">Kod pocztowy: </label>
		<div class="col-sm-2">
			<input type="text" id="postalCode" name="postalCode" class="form-control"
				placeholder="Kod pocztowy" ng-model="company.postalCode" />
		</div>
	</div>
	
	<br>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-2">
			<button type="submit" class="btn btn-success">Zapisz zmiany</button>
		</div>
	</div>
</form>