<div class="alert alert-danger text-center" ng-show="controller.error">
    Niepoprawny login lub hasło.
</div>

<form class="form-signin" role="form" ng-submit="controller.login()">

	<h2 class="form-signin-heading">Logowanie</h2>
	<input type="text" class="form-control" placeholder="Email" required
		autofocus ng-model="controller.credentials.username"> <input
		type="password" class="form-control" placeholder="Hasło" required
		ng-model="controller.credentials.password">
	<button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj
		się</button>
</form>

