
<nav>
	<ul class="nav navbar-nav side-nav">
		<li><a href=""> <i class="glyphicon glyphicon-book"></i><br>
				<span>KPiR</span>
		</a></li>
		<li><a href=""> <i class="glyphicon glyphicon-shopping-cart"></i><br>
				<span>Zakupy VAT</span>
		</a></li>
		<li><a href=""> <i class="glyphicon glyphicon-list-alt"></i><br>
				<span>Sprzedaż VAT</span>
		</a></li>
		<li><a href="#/contractors"> <i class="glyphicon glyphicon-user"></i><br>
				<span>Kontrahenci</span>
		</a></li>
		<li><a href=""> <i class="glyphicon glyphicon-home"></i><br>
				<span>Dane firmy</span>
		</a></li>

	</ul>
</nav>
