body {
	font-family: 'Trebuchet MS';
	color: #333;
	background-color: #fff;
	min-width: 400px;
}

html, body, #wrapper {
	height: 100%;
}

header {
	margin: 0;
}

#content {
	padding: 0px 50px;
}

#contentWrapper {
	min-height: 600px;
	padding: 70px 0px;
	height: 100%;
	margin-top: -51px;
	margin-bottom: -151px;
}

#asideMenu {
	padding-top: 30px;
	width: 150px;
	float: left;
	height: 100%;
	margin-top: -51px;
	margin-bottom: -151px;
}

footer {
	clear: both;
	background-color: #EEE;
	border-top: 1px solid #D8D8D8;
	padding: 50px;
}

.navbar {
	margin: 0;
}

.side-nav {
	width: 150px;
	height: 100%;
	border-radius: 0;
	border: none;
	overflow-y: auto;
	color: black;
	border-right: 1px solid #D8D8D8;
}

.side-nav>li {
	width: 100%;
	text-align: center;
}

.side-nav>li>a>i {
	font-size: 24px;
}

#header-right-navbar {
	padding-right: 15px !important;
}

.form-signin, .form-signup {
	margin-top: 200px;
	max-width: 330px;
	padding: 15px;
	padding-top: 100px;
	margin: 0 auto;
}

.form-signin .form-signin-heading {
	text-align: center;
	margin-bottom: 10px;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#registerForm {
	max-width: 500px;
	margin: auto;
	padding-top: 50px;
}