#nav-container {
    z-index: 11;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0px;
    width: 180px;
    padding: 0;
    background-color: azure;
    -webkit-overflow-scrolling: touch;
    /*-webkit-overflow-scrolling: -blackberry-touch;*/
}


body {
	font-family: 'Trebuchet MS';
	color: #333;
	background-color: #fff;
	min-width: 400px;
}

html, body, #wrapper {
	height: 100%;
}

header {
	margin: 0;
}

#content {
	padding: 10px 40px;
}

.marginLeft180px {
	margin-left: 180px;
}


#nav-wrapper {
    width: 100%;
    height: 100%;
    border-right: 1px solid #e5e5e5;
}

#nav-container ul {
    padding-left: 0;
    list-style: none;
}

#nav > li {
    position: relative;
    margin: 0;
    text-align: left;
    font-weight: bold;
}

#nav > li > a {
    position: relative;
    display: block;
    height: 50px;
    padding: 15px 15px;
    border-bottom: 1px solid #e5e5e5;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


#nav > li {
    text-align: left;
    font-weight: bold;
}

#nav-container ul {
    list-style: none;
}

#nav > li > .icon-has-ul {
    position: absolute;
    top: 20px;
    right: 15px;
}

#nav > li > a > i {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #e5e5e5;
    text-align: center;
    margin: -15px 10px -15px -15px;
}

footer {
	clear: both;
	background-color: #EEE;
	border-top: 1px solid #D8D8D8;
	padding: 50px;
}

.navbar {
	margin: 0;
}

.navbar-right {
	margin-right: 0px;
}


.form-signin, .form-signup {
	margin-top: 200px;
	max-width: 330px;
	padding: 15px;
	padding-top: 100px;
	margin: 0 auto;
}

.form-signin .form-signin-heading {
	text-align: center;
	margin-bottom: 10px;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#registrationForm {
	max-width: 500px;
	margin: auto;
	padding-top: 50px;
}

.ng-invalid {
    border-color: red;
    outline-color: red;
}

.messages {
    font-size: smaller;
    padding-top: 5px;
    padding-bottom: 10px;
    color: red;
}